.star-row{
    display: flex;
    flex-direction: row-reverse;
}

.star{
    color: #cacac1;
    font-weight: bold;
}

.star:hover{
    color: #fcf80b;
    cursor:pointer;
}

.star:hover ~ .star{
    color:#fcf80b;
}