
.hero-body{
  background-color:#3d4b5f;
  padding: 40px;
  border-bottom: solid 3px #62809a;

}
.title{
  font-size: 50px;
}
#title{
    background-color: #bcc5c3  ;
}
.button{
  background-color: #62809a ;
}

.movieGenerator{
  margin-bottom:5px;
  border-bottom: #62809a solid 3px;
  padding: 10px;
  text-align: center;
  font-size:large;
}

body {
  

}


/* .button {
  border:black 2px;
  border: dotted;
  
} */

/* .dropdown-check-list {
    display: inline-block;
  }
  
  .dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
  }
  
  .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
  }
  
  .dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .dropdown-check-list ul.items li {
    list-style: none;
  }
  
  .dropdown-check-list.visible .anchor {
    color: #0094ff;
  }
  
  .dropdown-check-list.visible .items {
    display: block;
  }
  /* The sidebar menu */
/* .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    /* width: 160px; Set the width of the sidebar */
    /* position: fixed; Fixed Sidebar (stay in place on scroll) */
    /* z-index: 1; Stay on top */
    /* top: 0; Stay at the top */
    /* left: 0; */
    /* background-color: rgb(31, 20, 196); Black */
    /* overflow-x: hidden; Disable horizontal scroll */
    /* padding-top: 20px;
  } */ 
  
  /* The navigation menu links */
  /* .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  } */
  
  /* When you mouse over the navigation links, change their color */
  /* .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  /* .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    /* padding: 0px 10px;
  } */ 
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */ 